<p>
  hinhchunhat works!
</p>
<!-- Sử dụng Template-driven forms để nhập dữ liệu -->
<form (ngSubmit)="tinhHCN(HCNForm)" #HCNForm="ngForm">
  <!-- Hiển thị ô input để nhập chiều dài, có validate -->
  <input placeholder="Nhap chieu dai" ngModel name="chieuDai" required />
  <br /><br />
  <!-- Hiển thị ô input để nhập chiều rộng, có validate -->
  <input placeholder="Nhap chieu rong" ngModel name="chieuRong" required />
  <br /><br />
  <!-- Nút tính sẽ disabled khi form invalid -->
  <input [disabled]="HCNForm.invalid" type="submit" value="Tinh" />
</form>
<!-- Hiển thị kết quả tính chu vi và diện tích -->
<h4 *ngIf="chuVi!=null">Chu vi: {{ chuVi }}</h4>
<h4 *ngIf="dienTich!=null">Dien tich: {{ dienTich }}</h4>